body {
    font-family: sans-serif
}

.hidden {
    display: none;
}

#char-img {
    height: 420px;
    width: 400px;
    position: relative;
}



#spell-list {
    float: right;
    columns: 5;
    -moz-columns: 5;
    -webkit-columns: 5;
}